body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}
.blue-box {
    background-image: url('/img/3.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display:contents;
}
.data-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    height: 300px;
    overflow-y: auto;
}
.header {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
.header .time {
    margin-left: 20px;
}
.btn-hello-world {
    position: absolute;
    bottom: 20px;
    left: 20px;
}