body {
    background-color: black;
    background-image: url('/img/11.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: contain;
    background-position: center; 
    color: #61dafb;
    text-align: center;
    
    font-family: 'Courier New', Courier, monospace;
}

.custom-table {
    background-color: transparent ;
    color: #61dafb;
    height: 85vh;
}

.custom-table th,
.custom-table td {
    background-color: transparent ;
    color: #61dafb ;
}

.custom-table thead th {
    color: #61dafb ;
}

.custom-table tbody tr:hover {
    color: #000 ;
    background-color: rgba(255, 255, 255, 0.5) ;
}
