/* Define custom variables */
:root {
    --skincolor: #61dafb;
    --background-color: black; /* New variable for background color */
}

/* Apply general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color); /* Set overall background color */
    overflow: hidden;
    /* position: relative; */
    font-family: 'Courier New', Courier, monospace;
}

/* Header styles */
header {
    text-align: center;
    color: var(--skincolor);
    /* font-style: italic; */
    font-size: 70px;
    margin-bottom: -0.6%;

}

/* Blue box styles */
.blue-box {
    background-image: url('/img/3.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
}

/* Current time display styles */
#currentTime {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;

    color: var(--skincolor);
    text-align: center;
    font-size: xxx-large;
    justify-content: center;
    align-items: center;
}

/* Data box styles */
.data-box {
    color: var(--skincolor);
    padding: 20px;
    border-radius: 8px;
    margin-top: 2%;
    width: 60%;
    height: 100px;
    overflow-y: auto;
    display: none;
    border: solid var(--skincolor);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgb(66, 86, 233);
}

/* Adjusted header styles */
.header {
    position: absolute;
    color: white;
    display: none;
}

/* Time within header styles */
.header .time {
    margin-left: 20px;
}

/* Card group styles */
.card-group {
    border: transparent;
}

/* Individual card styles */
.card {
    width: 70%;
    height: 70%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styles */
img {
    width: 70%;
    height: 70%;
    margin-bottom: -20%;
    margin-top: 1%;
    align-items: center;
}

/* Additional adjustments for specific areas */
#head {
    padding: 0 50px 50px 0px;
}

/* Ensure all backgrounds are black */
.blue-box,
.data-box,
.header,
.card-group,
.card {
    background-color: var(--background-color);
}


#tail{

}

