body {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-image: url('/img/11.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    background-position: center;
    background-color: black;
    box-shadow: inset;
    font-family: 'Courier New', Courier, monospace;
}



table
{

    height: 100vh;
    /* padding-top: 200px; */
    
}
th{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
}



td{
    text-align: left;
    /* padding-right: 20px; */

}