:root {
    --skincolor: #61dafb;
    --background-color: black; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    background-position: center;
    background-color: black;
}

header {
    text-align: center;
    color: var(--skincolor);
    font-size: 70px;
    margin-bottom: -0.6%;

}

.blue-box {
    background-image: url('/img/3.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
}

#currentTime {
    color: var(--skincolor);
    text-align: center;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.data-box {
    color: var(--skincolor);
    padding-top: 80px;
    border-radius: 8px;
    margin-top: 2%;
    width: 70%;
    height: 120px;
    overflow-y: auto;
    display: none;
    border: solid var(--skincolor);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgb(66, 86, 233);
}

.header {
    margin-top: 20%;
    position: absolute;
    color: white;
    display: none;
}

.header .time {
    margin-left: 20px;
}


#helpButton{
    display: none;
    margin-top: 2%;
    margin-left: 70%;
    text-align: end;
    /* border: solid 2px red; */
}

#imagehelp{
    width: 80%;
    height: 70%;
}





