<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>F.R.I.D.A.Y</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #282c34;
        }
        .title-box {
            font-size: 3rem;
            color: #61dafb;
            cursor: pointer;
            font-family: 'Courier New', Courier, monospace;
        }
    </style> -->
</head>

<body id="body1">
        <div class="title-box" onclick="startFRIDAY()">F.R.I.D.A.Y</div>

    <script>
        function startFRIDAY() {
            fetch('/start_friday').then(response => {
                window.location.href = '/page2';
            });
        }
    </script>    
</body>

</html>
