<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page2</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <div class="header">
        <span>F.R.I.D.A.I</span>
        
    </div>
    <div>
        <span class="time" id="currentTime"></span>
    </div>
    <div class="blue-box" id="blueBox">Loading...</div>
    <div class="data-box" id="dataBox"></div>
    <button class="btn btn-primary btn-hello-world" onclick="location.href='/page3'">Help</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        function updateTime() {
            const now = new Date();
            document.getElementById('currentTime').innerText = now.toLocaleTimeString();
        }
        setInterval(updateTime, 1000);

        window.onload = function() {
            const blueBox = document.getElementById('blueBox');
            blueBox.style.display = 'block';
            setTimeout(() => {
                blueBox.style.display = 'none';
                const socket = io();
                socket.on('script_output', function(data) {
                    const dataBox = document.getElementById('dataBox');
                    dataBox.innerText += data.data + '\n';
                    dataBox.scrollTop = dataBox.scrollHeight; // Scroll to the bottom
                });
            }, 3000);
        };
    </script>
    
</body>
</html>